<div class="border">
  <div class="drag fa fa-arrows"></div>
  <div class="kanibo kanibo-heading" [ngClass]="{'show': showDescription}" (click)="showDescription = !showDescription">
    {{kanibo.title}}
    <ng-content></ng-content>
  </div>
  <div class="kanibo kanibo-body"
       [ngClass]="{'show': showDescription, 'hide': !showDescription}">
    <div>
      {{kanibo.description}}
    </div>

    <div class=" date" style="float:right">
      {{kanibo.date | date}}
      <div class="date-detail">
        {{getAvailability()}}
      </div>
    </div>
  </div>
</div>



