<div class="border">
  <div (pointerdown)="eventEmit($event)" class="drag fa fa-arrows"></div>
  <div class="kanibo kanibo-heading" [ngClass]="{'show': showDescription}" (click)="showDescription = !showDescription">
    {{kanibo.title}}
    <ng-content></ng-content>
  </div>
  <div class="kanibo kanibo-body"
       [ngClass]="{'show': showDescription, 'hide': !showDescription}">
    <div>
      {{kanibo.description}}
    </div>
    <hr>
    <table style="width: 100%;">
      <tr>
        <td><b>Task Number:</b></td>
        <td>{{kanibo.taskId}}</td>
      </tr>
      <tr>
        <td><b>Creation Date:</b></td>
        <td class="date">{{kanibo.creationDate | date}}
          <div class="date-detail">
            {{getLastedTime(kanibo.creationDate)}}
          </div>
        </td>
      </tr>
      <tr *ngIf="kanibo.updateDate">
        <td><b>Last Update:</b></td>
        <td class="date">{{kanibo.updateDate | date}}
          <div class="date-detail">
            {{getLastedTime(kanibo.updateDate)}}
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><a class="edit" routerLink="/kanban/kanban-edit/{{sectionKeyName}}/{{kanibo.taskId}}"><b>Edit</b></a></td>
      </tr>
    </table>
  </div>
</div>



