<div class="area-boundary">
  <div class="panel-heading text-center">
    <h2 class="">{{section.title}} - ({{section.list.length}})</h2>
  </div>
  <div appSortableList (sort)="sort()">
    <app-kanibo *ngFor="let item of section.list"
                [kanibo]="item"
                [sectionKeyName]="sectionKeyName"
                appDroppable
                (onDragStartEvent)="notifyElementIsSelected(item)"
                >
      <app-kanibo
        [kanibo]="item"
        *appDraggableObserver></app-kanibo>
    </app-kanibo>
  </div>
</div>
