:host {
  width: 30%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fffc00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 7px 5px 3px rgba(0, 0, 0, 5);
}

@media screen and (max-width: 600px) {
  :host {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }
}

.area-boundary {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

h2 {
  font-family: "Comic Sans MS", cursive, sans-serif
}

